<div class="hero">
    <div class="hero-image">
        <img src="https://picsum.photos/400/600" alt="My image">
    </div>
    <div> class=""hero-image">
        <h2>Hi, ich bin</h2>
         <h1>Igor Aleksovski</h1>
        <h3>Developer; Trainer; Gamer</h3>
        <p>
        Leidenschaftlicher
        </p>
    <div>

</div>
<style>
    .hero {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

        }
        .hero-text >* {
            text-align: center;
            margin-bottom: 0.5rem;
            margin-top: 0;
        }

       hero.hero-image{
        height: 800px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       } 
       .hero-image img {
        max-height: 100%;
        max-width: 100%;
       }
       .hero.hero-text {
        width:50%;
        border: 1px solid rgb(62, 62, 62);
        background-color: rgba(rgb(255, 0, 0), green, blue, alpha);
        border-radius: 15px;
       }
       .hero-text p::before {
        content: '"';
       }
       .hero-text p::after {
        content: '"';
    </style>